*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.questionario{
  width:100%;
  height:100vh;
  background-color: aqua;
  display: flex;
  justify-content: center;
  align-items: center;
}
label{display: block;}
.questao{
  background-color: bisque;
  border: 1px solid black;
  width: 650px; 
  padding: 50px;
  font-size: 20px;
  border-radius: 15px;   
}
.tab {
  display: none;
}
.ctrl-bloco{
  width: 100%;
  padding: 5px;
  text-align: center;
}
.btn-ctrl{
  padding: 10px;
  border: none;
  border-radius: 15px;
  width: 90px;
}
.btn-ctrl:hover{
  background-color: black;
  color: white;
  cursor: pointer;
  transition: 1s;
}
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

/* Mark the active step: */
.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #04AA6D;
}